/* Reset code */
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.row {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}
/* column */
.col-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
}
.col-4{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.col-5{
    flex: 0 0 41.67%;
    max-width: 41.67%;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7{
    flex: 0 0 58.33%;
    max-width: 58.33%;
}
.col-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.fw-bold{
    font-weight: 700;
}
/* Background */
.bg-white{
    background: #fdfdfd;
}
.bg-Mystic{
    background: #EBF1F2;
}
.bg-Geyser{
    background: #CBDCDF;
}
.bg-JungleMist{
    background: #c1d4d7;
}
.bg-AquaHaze{
    background: #f0f5f6;
}
.bg-ShuttleGray{
    background: #526471;
}
/* text-color */
.text-white{
    color: #fff;
}
.text-MineShaft{
    color: #3a3a3a;
}
/* margin */
.mt-15{
    margin-top: 15px;
}
.ml-50{
    margin-left: 50px;
}
.mb-18{
    margin-bottom: 18px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-57{
    margin-bottom: 57px;
}
.mb-75{
    margin-bottom: 75px;
}
.mb-80{
    margin-bottom: 80px;
}
.mr-15{
    margin-right: 15px;
}
.mr-30{
    margin-right: 30px;
}
.mr-37{
    margin-right: 37px;
}
.mr-50{
    margin-right: 50px;
}
/* padding */
.pt-80{
    padding-top: 80px;
}
.pb-60{
    padding-bottom: 60px;
}
.ptb-13{
    padding: 13px 0;
}
.ptb-20{
    padding: 20px 0;
}
.ptb-55{
    padding: 55px 0;
}
.ptb-80{
    padding: 80px 0;
}
.ptb-90{
    padding: 90px 0;
}
.lh-5{
    line-height: 5px;
}
.border-shadow{
    border: 1px solid rgb(0 0 0 / 7%);
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 7%);
}
/* Repeat CSS */
.headingPart {
    text-align: center;
    width: 806px;
    margin: 0 auto;
}
.shortLineCute {
    display: inline-block;
    background: black;
    width: 30px;
    height: 3px;
}
.headingTittle {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    margin-top: 5px;
}
.headingTextContent {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.99px;
    text-transform: capitalize;
}
/* Repeat Css End */

/* Header Part Start */

/* Menu_Area */
.contactNumber {
    text-transform: capitalize;
    letter-spacing: 1.01px;
}
.menuUl {
    display: flex;
    align-items: center;
}
.menuUl li a {
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;
    color: #000;
    text-transform: capitalize;
    letter-spacing: 1.37px;
}
.logoArea {
    text-align: right;
}
/* Menu Area End */

/* Slider Area Start */
.singleSlider1 {
    background: linear-gradient(rgba(52, 52, 52, .6), rgba(74, 116, 123, .6)), url(../img/Slider/slider_1.jpg) no-repeat center/cover;
    /* background-attachment: fixed; */
    height: 640px;
    position: relative;
}
.singleSlider2 {
    background: linear-gradient(rgba(52, 52, 52, .6), rgba(74, 116, 123, .6)), url(../img/Slider/slider_2.jpg) no-repeat center/cover;
    /* background-attachment: fixed; */
    height: 640px;
    position: relative;
}
.singleSlider3 {
    background: linear-gradient(rgba(52, 52, 52, .6), rgba(74, 116, 123, .6)), url(../img/Slider/slider_3.jpg) no-repeat center/cover;
    /* background-attachment: fixed; */
    height: 640px;
    position: relative;
}
.sliderCute {
    color: white;
    position: absolute;
    right: 0;
    bottom: 30px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 18px;
}
.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.sliderTittle {
    font-size: 56px;
}
.sliderText {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 27px;
}
/*Plugin indigator icon */
.owl-nav .owl-prev, 
.owl-nav .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    z-index: 1;
    opacity: .5;
    transition: opacity .15s ease;
}
.owl-nav .owl-prev:hover, 
.owl-nav .owl-next:hover{
    opacity: .9;
}
.owl-prev{
    left: 0;
}
.owl-next{
    right: 0;
}
.owl-nav .owl-prev span, 
.owl-nav .owl-next span {
    font-size: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    color: #fdf9f9;
    background: #e9559d;
}
.owl-dots {
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin: 0 15% 1rem 15%;
}
.owl-carousel button.owl-dot {
    background: #fc4664;
}
.owl-dots .owl-dot{
    width: 68px;
    height: 5px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    margin-right: 10px;
    opacity: .5;
    transition: opacity .6s ease;
    -webkit-transition: opacity .6s ease;
    -moz-transition: opacity .6s ease;
    -ms-transition: opacity .6s ease;
    -o-transition: opacity .6s ease;
    cursor: pointer;
}
.owl-dot.active{
    opacity: 1;
}
/* Slider Area Start */

/* Header Part End */

/* About Part Start */
.aboutTextContent{
    margin-top: 87px;
}
.aboutShortTitle,
.chooseShortTitle {
    font-size: 12px;
    letter-spacing: 0.74px;
    display: inline-block;
    margin-right: 8px;
}
.aboutHeadingTitle,
.chooseHeadingTitle {
    font-size: 18px;
    letter-spacing: 1.12px;
    line-height: 35px;
    margin: 16px 0 21px 0;
    text-transform: capitalize;
}
.aboutTextContentPara,
.chooseTextContentPara {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.87px;
    font-weight: 400;
    text-transform: capitalize;
}
.aboutLink {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.86px;
    text-transform: uppercase;
    transition:  .3s ease-in-out;
    -webkit-transition:  .3s ease-in-out;
    -moz-transition:  .3s ease-in-out;
    -ms-transition:  .3s ease-in-out;
    -o-transition:  .3s ease-in-out;
}
.aboutLink:hover{
    color: #fc4664;
}
/* About Part End */

/* Service Part Start */
.serviceImg{
    position: relative;
    box-shadow: 0 0 60px 0 rgba(9, 194, 250, 0.329);
    height: 100%;   
}
.serviceImg img{
    width: 100%;
    height: 100%;
}
.serviceImg:before {
    position: absolute;
    content: '';
    background: #3a3a3a;
    width: 100%;
    height: 98%;
    top: -100%;
    visibility: hidden;
    opacity: 0;
    transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -moz-transition: .8s ease-in-out;
    -ms-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
}
.serviceOverlay {
    position: absolute;
    top: -40%;
    padding: 0 85px;
    visibility: hidden;
    text-align: center;
    transition: .8s ease;
    -webkit-transition: .8s ease;
    -moz-transition: .8s ease;
    -ms-transition: .8s ease;
    -o-transition: .8s ease;
}
.serviceImg:hover:before{
    top: 0;
    opacity: .5;
    visibility: visible;
}
.serviceImg:hover .serviceOverlay{
    top: 40%;
    visibility: visible;
}
.serviceOverlayIcon {
    font-size: 30px;
}
.serviceOverlayText {
    color: white;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.2px;
}
/* Service Part End */

/* Project Count Part Start */
.countArea {
    padding: 0 120px;
}
.countNumber {
    font-size: 42px;
    letter-spacing: 3.02px;
}
.countTitle {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.58px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
/* Project Count Part End */

/* ChooseUs Part Start */
.chooseUs_area {
    background: linear-gradient(to right, #c1d4d7 0%, #c1d4d7 50%, #e9f0f1 50%, #e9f0f1 100%);
}
.chooseHeadingTitle{
    font-size: 22px;
}
.chooseTextContent {
    margin: 50px 0 0 45px;
}
.chooseTextMiniArea {
    display: flex;
    margin-bottom: 10px;
}
.chooseTextMiniContentHeadingTitle {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.99px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.chooseTextMiniContentPara {
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    letter-spacing: 0.87px;
    text-transform: capitalize;
}
/* ChooseUs Part End */

/* Client say Part Start */
.clientCommentArea {
    width: 707px;
    border: 2px solid #161616;
    border-radius: 5px;
    background: #f3f7f7;
    margin: 0 auto;
    padding: 37px 33px 37px 42px;
}
.clientCommentProfile {
    display: flex;
    align-items: center;
}
.clientProfileImg img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
}
.clientUser{
    margin-left: 23px;
}
.clientUserName {
    font-size: 18px;
    letter-spacing: 1.12px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.clientProfession {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.87px;
    color: #888;
}
.clientCommnetText {
    font-size: 16px;
    letter-spacing: .99px;
    line-height: 31px;
    text-transform: capitalize;
    margin-top: 25px;
}
/* Client say Part End */

/* Brand Part Start */
.brand1 {
    margin-right: 63px;
}
.brand2 {
    margin-right: 31px;
}
.brand3 {
    margin-right: 67px;
}
.brand4 {
    margin-right: 67px;
}
.brand6 {
    margin: 52px 46px 0 0;
}
.brand7 {
    margin: 31px 41px 0 0;
}
.brand8 {
    margin-top: 68px;
}
/* Brand Part End */

/* Newsletter Part Start */
.newsletterArea {
    position: relative;
    z-index: 1;
}
.newsletterArea:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #526471;
    z-index: -1;
}
.newsletterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 890px;
    background: #c1d4d7;
    margin: 0 auto;
    padding: 28px 30px;
    box-shadow: 0 15px 19px #12283970;
}
.newsletterText {
    font-size: 22px;
    text-transform: capitalize;
    line-height: 34px;
}
.newsletterForm{
    position: relative;
}
.newsletterInputField {
    border: 0;
    outline: none;
    width: 455px;
    height: 50px;
    border-radius: 6px;
    padding: 0 25px;
    color: #333;
}
.newsletterSubmit {
    font-size: 18px;
    font-weight: 600;
    background: #526471;
    color: #fff;
    border: none;
    outline: none;
    padding: 12px 35px;
    border-radius: 0 6px 6px 0;
    position: absolute;
    right: 0;
    cursor: pointer;
}
/* Newsletter Part End */

/* Footer Area Start */
.footerShortTitle {
    font-size: 18px;
    line-height: 34px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 31px;
}
.footerText {
    line-height: 21px;
    margin-bottom: 15px;
}
.contactNumber2.text-white {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 15px 0;
}
.socialIcon {
    margin-top: 54px;
}
.address1 {
    display: flex;
}
.addressContent p {
    margin-bottom: 6px;
}
.footerArea{
    position: relative;
}
.footerCute {
    position: absolute;
    color: white;
    right: 20px;
    top: 40%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 18px;
}

/* Footer Menu Area Start */
.footerMenuSection {
    padding: 34px 0;
    background: #4c5e6b;
}
.footerMenuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerMenuItem li a,
.privacyCode {
    color: #f5f5f5;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1.01px;
}
.privacyCode{
    text-align: right;
}
/* Footer Menu Area End */

/* Footer Area End */