/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
/* Reset code */
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.row {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}
.col-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
}
.col-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.fw-bold{
    font-weight: 700;
}
/* Background */
.bg-white{
    background: #fdfdfd;
}
/* text-color */
.text-white{
    color: #fff;
}
/* margin */
.mt-15{
    margin-top: 15px;
}
.mb-18{
    margin-bottom: 18px;
}
.mb-24{
    margin-bottom: 24px;
}
.mr-37{
    margin-right: 37px;
}
/* padding */
.ptb-13{
    padding: 13px 0;
}
.ptb-20{
    padding: 20px 0;
}
.lh-5{
    line-height: 5px;
}
.border-shadow{
    border: 1px solid rgb(0 0 0 / 7%);
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 7%);
}
/* Header Part Start */

/* Menu_Area */
.contactNumber {
    text-transform: capitalize;
    letter-spacing: 1.01px;
}
.menuUl {
    display: flex;
    align-items: center;
}
.menuUl li a {
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;
    color: #000;
    text-transform: capitalize;
    letter-spacing: 1.37px;
}
.logoArea {
    text-align: right;
}
/* Menu Area End */

/* Slider Area Start */
.singleSlider1 {
    background: linear-gradient(rgba(52, 52, 52, .6), rgba(74, 116, 123, .6)), url(../img/Slider/slider_1.jpg) no-repeat center/cover;
    /* background-attachment: fixed; */
    height: 640px;
    position: relative;
}
.singleSlider2 {
    background: linear-gradient(rgba(52, 52, 52, .6), rgba(74, 116, 123, .6)), url(../img/Slider/slider_2.jpg) no-repeat center/cover;
    /* background-attachment: fixed; */
    height: 640px;
    position: relative;
}
.singleSlider3 {
    background: linear-gradient(rgba(52, 52, 52, .6), rgba(74, 116, 123, .6)), url(../img/Slider/slider_3.jpg) no-repeat center/cover;
    /* background-attachment: fixed; */
    height: 640px;
    position: relative;
}
.sliderCute {
    color: white;
    position: absolute;
    right: 0;
    bottom: 30px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 18px;
}
.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.sliderTittle {
    font-size: 56px;
}
.sliderText {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 27px;
}
/* indigator icon */
.owl-nav .owl-prev, 
.owl-nav .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    z-index: 1;
    opacity: .5;
    transition: opacity .15s ease;
}
.owl-nav .owl-prev:hover, 
.owl-nav .owl-next:hover{
    opacity: .9;
}
.owl-prev{
    left: 0;
}
.owl-next{
    right: 0;
}
.owl-nav .owl-prev span, 
.owl-nav .owl-next span {
    font-size: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    color: #fdf9f9;
    background: #e9559d;
}
.owl-dots {
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin: 0 15% 1rem 15%;
}
.owl-carousel button.owl-dot {
    background: #fc4664;
}
.owl-dots .owl-dot{
    width: 68px;
    height: 5px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    margin-right: 10px;
    opacity: .5;
    transition: opacity .6s ease;
    -webkit-transition: opacity .6s ease;
    -moz-transition: opacity .6s ease;
    -ms-transition: opacity .6s ease;
    -o-transition: opacity .6s ease;
    cursor: pointer;
}
.owl-dot.active{
    opacity: 1;
}
/* Header Part End */